/* Home Container */

.home-container {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

/* Container Header */

.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-bottom: 20px;
}

/* Container Header Columnas */

.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-end;   /* ⬅️ hacia la derecha */
  align-items: center;       /* ⬇️ hacia abajo */
}

/* Cada columna ocupa el mismo espacio */

.header-center,
.header-right {
  flex: 1;
  display: flex;
  justify-content: center;
}



/* Upload Section*/

.upload-section {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  height: 250px;
}

.upload-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #ccc;
    padding: 40px;
    border-radius: 12px;
    width: 250px;
}

.upload-box img {
    width: 50px;
    
}

.upload-button {
    margin-top: 15px;
    background-color: #FFBB5B;
    color: white;
    border: none;
    padding: 8px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight:bold;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #EFB058;
    transition: background-color 0.3s ease;
}



/*Cards Section*/

.cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
    height: 100%;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente los elementos dentro de la tarjeta */
    align-items: center;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 20px;
    width: 130px;
    height: 180px; /* fija altura para centrar bien */
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    background-color: white;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0; /* empuja hacia arriba */
}

.card img {
    width: 90px;
    margin: auto 0; /* centra verticalmente la imagen dentro del espacio disponible */
}
