@import url('/Css/Clases/variables.css');

.modal-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--gray-900);
}

.modal-subtitle {
    font-size: 0.95rem;
    color: #64748b;
    font-weight: 500;
}

/*Modal warning*/
.modal-content {
    background: var(--white);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-lg);
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    transform: scale(0.9);
    transition: transform 0.3s ease;
    padding: 0;
    margin: 0;
}

.modal-header {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gray-50);
}

.modal-body {
    padding: 2rem 32px;
    max-height: 60vh;
    overflow-y: auto;
}

.modal-footer {
    padding: 1.5rem 2rem;
    border-top: 1px solid var(--gray-200);
    display: flex;
    gap: 1rem 16px;
    justify-content: flex-end;
    background: var(--gray-50);
}

.modal-content-students {
    background: var(--white);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-lg);
    width: 40%;
    max-width: 800px;
    overflow: hidden;
    transform: scale(0.9);
    transition: transform 0.3s ease;
    margin: 0;
    padding: 2rem;
}

.modal-content-join{
    background: var(--white);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-lg);
    width: 40%;
    max-width: 800px;
    overflow: hidden;
    transform: scale(0.9);
    transition: transform 0.3s ease;
    margin: 0;
    padding: 2rem;
}

.modal-join-title{
    font-size: 24px;
    font-weight: 700;
    color: var(--gray-900);
    margin-bottom: 24px;
}

.modal-join-actions{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.modal-content-warning {
    background: var(--white);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-lg);
    width: 40%;
    max-width: 800px;
    overflow: hidden;
    transform: scale(0.9);
    transition: transform 0.3s ease;
    margin: 0;
    padding: 2rem;
}


.modal-warning-close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #94a3b8;
    transition: color 0.3s ease;
}

.modal-warning-icon {
    text-align: center;
    margin-bottom: 16px;
}

.modal-warning-icon svg {
    width: 48px;
    height: 48px;
    color: #f87171;
}

.modal-warning-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 24px;
}

.modal-warning-subtitle {
    text-align: center;
    color: #475569;
}

.modal-warning-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}